.container-main {
    max-width: 600px;
}

.logos-container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #4C10C1;
    // height: 50px;
}

.ext-c {
    padding: 28px;
    border-bottom: 1px solid #D5D5D5;
    ;
    padding-bottom: 5px;
    padding-left: 0px;
    line-height: 140%;
    font-size: 20px;
    font-family: sf pro;
    font-weight: 400;
}

.ext-st {
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 0.8px solid rgba(17, 33, 54, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
}

// .ext-st:hover {
//     background-color: #F5F8FA;
// }
.ext-st.active {
    background: #F5F8FA;
    border: 2px solid #7040CD;
}

input[type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

.ext-st:before {
    content: '';
    position: absolute;
    left: auto;
    right: 12px;
    top: 14px;
    margin: 4px;
    width: 15px;
    height: 15px;
    z-index: 0;
    transition: .28s ease;
    border-radius: 50%;
    border: 1px solid #5a5a5a;
}

.ext-st.active::before {
    background-color: #7040CD;
    border: 2px solid #fff;
    outline: 1px solid #7040CD;
}

.step {
    padding-top: 45px;
    letter-spacing: 1.5px;
}

.First_text {
    color: #112136;
}