@keyframes ldio-ti8ltt9443b {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-ti8ltt9443b div {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 4px solid #149bd1;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-ti8ltt9443b div {
    animation: ldio-ti8ltt9443b 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-sray298du2g {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    // background: rgba(NaN, NaN, NaN, 0);
}

.ldio-ti8ltt9443b {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-ti8ltt9443b div {
    box-sizing: content-box;
}