<div class="container-main bd-black-10 flex-bottom auto-margin-x height-100vh empty-scrollbar-y relative">

    <div class="logos-container1">
        <div class="header-div pd-left-8 pd-right-20">
            <img src="assets/Dmi-logo.svg" alt="" style="max-width:100px">
            <img src="assets/Power_button.svg" alt="" style="max-width:100px" class="pointer" (click)="exit()" *ngIf="!ExitEmail">
            <img src="assets/Power_button.svg" alt="" style="max-width:100px" class="pointer" (click)="exit1()" *ngIf="ExitEmail">

        </div>
        <div class="step1 step1-color">
            <p class="color-2 step1paragraph"><span><img src="assets/Image/Arrow-left.png" alt="" class="mg-top-4 height-12"></span> <span class="mg-left-15">Step 2 of 5</span> </p>
        </div>
    </div>
    <div class="pd-left-25 pd-top-30 pd-right-20">
        <p class="fs-27 fw-400 First_text">Email</p>
        <p class="fs-27 fw-400 First_text">anuoa </p>
        <p class="fs-27 fw-400 First_text">js js nsjn</p>
        <p class="fs-27 fw-400 First_text">Email-27y373y383</p>

        <p class="fs-27 fw-400 First_text">Emai--2222l</p>
        <p class="fs-27 fw-400 First_text">Email-366337</p>
        <h2 class="fs-27 pd-top-25 First_text" style="font-weight: 300 !important;">Address</h2>
    </div>
    <form class="mg-bottom-auto" [formGroup]="EmailForm">
        <div class="flex-bottom mg-top-30 pd-right-25 pd-left-25">
            <div class="flex-bottom relative mg-bottom-25" style="min-width: 0px;">
                <label class="Labelfont z-1">Please enter your email id</label>
                <input class="no-border no-outline pd-bottom-5 mt10 ext-c" placeholder="someone@example.com" [(ngModel)]="email" formControlName="Email" required>
            </div>
            <div *ngIf="(submitted || f['Email'].touched ) && f['Email'].invalid">
                <div *ngIf="f['Email'].errors && f['Email'].errors['required']" class="error">
                    Email Field is required

                </div>
            </div>
            <div *ngIf="Erroremail">
                <p class="error">{{error}}</p>

            </div>

        </div>

    </form>
    <div class="button_div_common mg-bottom-35">
        <button class="click-btn pointer" (click)="continueGender()" [disabled]="EmailForm.invalid" [ngClass]="EmailForm.valid ? 'mainBackground ' : 'disableBackground'" [class.disabled]="isDisabled1" [disabled]="isDisabled1"><span class="button_div_common_text">Continue</span><span style="float: right;" class="pd-right-10"><img src="assets/Image/Arrow.png" alt=""></span></button>
    </div>
    <div *ngIf="Loader1" class="z-1000 absolute trbl-0 vh-center bg-white-50 blur-2" style="height:105vh;">
        <div class="loadingio-spinner-rolling-sray298du2g">
            <div class="ldio-ti8ltt9443b">
                <div></div>
            </div>
        </div>
    </div>
</div>