.container-main {
    max-width: 600px;
}

.logos-container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #4C10C1;
    // height: 50px;
}

.error {
    color: red;
}

.step {
    padding-top: 45px;
    letter-spacing: 1.5px;
}

.continue-btn {
    // position: static;
    width: 100%;
    text-align: center;
    // padding-top: 370px;
}

.First_text {
    color: #112136;
}

// --------------------------------------Loader-----------------------
@keyframes ldio-ti8ltt9443b {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-ti8ltt9443b div {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 4px solid #149bd1;
    border-top-color: transparent;
    border-radius: 50%;
    z-index: 200;
}

.ldio-ti8ltt9443b div {
    animation: ldio-ti8ltt9443b 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-sray298du2g {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    // background: rgba(NaN, NaN, NaN, 0);
}

.ldio-ti8ltt9443b {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-ti8ltt9443b div {
    box-sizing: content-box;
}