<div class="container-main bd-black-10 flex-bottom auto-margin-x height-100vh empty-scrollbar-y relative">
    <div class="logos-container pd-25 pd-top-10 v-center">
        <div class="step flex">
            <img src="assets/Image/Arrow-left.png" alt="" class="mg-top-4 height-12">
            <p class="color-2 pd-left-10">Step 3 of 5</p>
            </div>
    </div>
    <div class="pd-left-25 pd-top-25 pd-right-20">
        <div class="clap pd-top-50">
            <img src="assets/Image/1.gif" (click)="continueEmi()" class="img-load pointer">
            <p class="fw-400 First_text txt-center">Fetching the <span>best offer(s)</span> for Adesh</p>
            <!-- <img src="assets/Image/Group-2219.png" class="img-align pd-top-30">
            <p class="fw-400 text-2 txt-center pd-10">Please visit the Nearest Apple Store and the sales person will help you get your favourite apple device on EMI conveniently.</p> -->
        </div>
        
    </div>
    <!-- <div class="continue-btn">
        <button class="click-btn"><span class="continue-text">Continue</span><span style="float: right;" class="pd-right-10"><img src="assets/Image/Arrow.png" alt=""></span></button>
    </div> -->
</div>
