<div class="container-main bd-black-10 flex-bottom auto-margin-x height-100vh empty-scrollbar-y relative">
    <div class="logos-container pd-25 pd-top-10 v-center">
        <div class="step flex">
            <img src="assets/Image/Arrow-left.png" alt="" class="mg-top-4 height-12">
            <p class="color-2 pd-left-10">Step 1 of 5</p>
        </div>
    </div>

    <div class="error-Message flex-1 flex-bottom v-center pd-50 pd-left-10 pd-right-10">

        <img class="mg-bottom-50" src="assets/sorry.png" />

        <!-- <div class="fs-16 fw-700 txt-center">No or invalid
            <span class="error">key</span> found
        </div> -->

        <!-- <div class="fs-16 fw-700 txt-center mg-top-20">
            Something went <span class="error">wrong</span>
        </div> -->
        <div class="fs-16 fw-700 txt-center mg-top-20">
            E-mandate <span class="error">Failed!!</span></div>

    </div>
</div>