<div class="container-main bd-black-10 flex-bottom auto-margin-x height-100vh empty-scrollbar-y relative">
    <!-- <div class="logos-container pd-25 pd-top-10 v-center">
        <div class="step flex">
            <img src="assets/Image/Arrow-left.png" alt="" class="mg-top-4 height-12">
            <p class="color-2 pd-left-10">Step 1 of 5</p>
        </div>
        <div class="mlAuto pointer mg-top-30" (click)="exit()" *ngIf="!pinExit">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <path id="Imported Path" fill="#ffff" stroke="#ffff" stroke-width="1" d="M 14.72,17.57
                  C 16.29,17.57 16.45,16.64 16.45,15.50
                    16.45,15.50 16.45,2.07 16.45,2.07
                    16.45,0.93 16.29,0.00 14.72,0.00
                    13.16,0.00 13.00,0.93 13.00,2.07
                    13.00,2.07 13.00,15.50 13.00,15.50
                    13.00,16.64 13.16,17.57 14.72,17.57 Z
                  M 19.94,2.35
                  C 19.94,2.35 19.94,6.15 19.94,6.15
                    23.40,7.94 25.78,11.55 25.78,15.73
                    25.78,21.68 20.96,26.50 15.00,26.50
                    9.05,26.50 4.22,21.68 4.22,15.73
                    4.22,11.90 6.23,8.54 9.23,6.63
                    9.23,6.63 9.23,2.68 9.23,2.68
                    4.22,4.89 0.73,9.90 0.73,15.73
                    0.73,23.61 7.12,30.00 15.00,30.00
                    22.89,30.00 29.27,23.61 29.27,15.73
                    29.27,9.58 25.38,4.36 19.94,2.35 Z" />
            </svg>
        </div>
        <div class="mlAuto pointer mg-top-30" (click)="exit1()" *ngIf="pinExit">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <path id="Imported Path" fill="#ffff" stroke="#ffff" stroke-width="1" d="M 14.72,17.57
                  C 16.29,17.57 16.45,16.64 16.45,15.50
                    16.45,15.50 16.45,2.07 16.45,2.07
                    16.45,0.93 16.29,0.00 14.72,0.00
                    13.16,0.00 13.00,0.93 13.00,2.07
                    13.00,2.07 13.00,15.50 13.00,15.50
                    13.00,16.64 13.16,17.57 14.72,17.57 Z
                  M 19.94,2.35
                  C 19.94,2.35 19.94,6.15 19.94,6.15
                    23.40,7.94 25.78,11.55 25.78,15.73
                    25.78,21.68 20.96,26.50 15.00,26.50
                    9.05,26.50 4.22,21.68 4.22,15.73
                    4.22,11.90 6.23,8.54 9.23,6.63
                    9.23,6.63 9.23,2.68 9.23,2.68
                    4.22,4.89 0.73,9.90 0.73,15.73
                    0.73,23.61 7.12,30.00 15.00,30.00
                    22.89,30.00 29.27,23.61 29.27,15.73
                    29.27,9.58 25.38,4.36 19.94,2.35 Z" />
            </svg>
        </div>
    </div> -->
    <div class="logos-container1">
        <div class="header-div pd-left-8 pd-right-20">
            <img src="assets/Dmi-logo.svg" alt="" style="max-width:100px">
            <img src="assets/Power_button.svg" alt="" style="max-width:100px" class="pointer" (click)="exit()" *ngIf="pinExit">
            <img src="assets/Power_button.svg" alt="" style="max-width:100px" class="pointer" (click)="exit1()" *ngIf="pinExit1">
            <img src="assets/Power_button.svg" alt="" style="max-width:100px" class="pointer" (click)="exit2()" *ngIf="pinExit2">

        </div>
        <div class="step1 step1-color">
            <p class="color-2 step1paragraph"><span><img src="assets/Image/Arrow-left.png" alt="" class="mg-top-4 height-12"></span> <span class="mg-left-15">Step 2 of 5</span> </p>
        </div>
    </div>

    <div class="pd-left-25 pd-top-30 pd-right-20">
        <!-- <p class="fs-27 fw-300 First_text">Add</p> -->
        <h2 class="pd-top-5 fs-27 fw-400">Pin Code</h2>
    </div>
    <div class="mg-bottom-auto">
        <div class="flex-bottom mg-top-30 pd-right-25 pd-left-25">
            <div class="flex-bottom relative mg-bottom-15" style="min-width: 0px;">
                <label class="Labelfont  z-1">Please enter your pin code (Current Address)</label>
                <input class="no-border no-outline pd-bottom-5 mt10 ext-c" placeholder="Eg. 400001" [(ngModel)]="Pincode" maxlength="6">
            </div>
            <div *ngIf="Errorpin" class="error">
                <p class="error">{{error}}</p>
            </div>

        </div>
        <!-- <div class="instruction flex-bottom mg-top-30 pd-right-25 pd-left-25">
            <div class="text-dec">
                <input type="checkbox" class="mg-right-5 mg-top-2" (click)="checked = !checked;">
                <p>I agree to<span style="color: #4C10C1;"> Terms and Conditions, </span>Terms and Conditions, give consent to fetch my KYC from CERSAI and authorise authorise ServiceLee Technologies Private Limited to access my credit report from Credit
                    bureaus and store it to process my loan application</p>
            </div>
        </div> -->
        <div class="instruction flex-bottom mg-top-30 pd-right-25 pd-left-25">
            <div class="text-dec">
                <div>
                    <input type="checkbox" class="mg-right-5 mg-top-2" (click)="checked = !checked;">
                </div>

                <p>I agree to <span style="color: rgba(0, 168, 225, 0.8);"><button type="button" class="btn btn-primary custom-btn" data-toggle="modal" data-target="#exampleModalCenter">
                    Terms and Conditions,
                  </button></span> give consent to fetch my KYC from CERSAI and authorise Service Lee Technologies Private Limited to access my credit report from Credit bureaus and store it to process my loan application On the web it shows as service
                    Lee, but if Service Lee is correct, Please leave as is and make the other Changes.</p>
            </div>
        </div>

    </div>
    <div class="button_div_common mg-top-20">
        <button class="click-btn pointer" (click)="continueEducation()" [ngClass]="(checked == true && Pincode) ? 'mainBackground' : 'disableBackground'" [disabled]="( (checked == false ))" [class.disabled]="isDisabled1" [disabled]="isDisabled1"><span class="button_div_common_text">Continue</span><span style="float: right;" class="pd-right-15"><img src="assets/Image/Arrow.png" alt=""></span></button>
    </div>
    <div *ngIf="Loader1" class="z-1000 absolute trbl-0 vh-center bg-white-50 blur-2 loader-height">
        <div class="loadingio-spinner-rolling-sray298du2g">
            <div class="ldio-ti8ltt9443b">
                <div></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal term_and_conditions-->

<div class="term_and_conditions">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <p>DMI Finance Private Limited maintains this site (www.dmifinance.in) <b>(“Site”)</b> for your information and communication. By availing any service / credit facility being provided by DMI Finance Private Limited directly or indirectly
                        including by ut ilising the Site (“Services”) you have agreed to each and all of the terms and conditions of this Privacy Policy as set forth below and waive any right to claim ambiguity or error in the same. </p>
                </div>
            </div>
        </div>
    </div>
</div>